table{
	border-collapse: collapse;
	margin:1em auto;

}
td,input{
	
	width:200px;
	height: 16px;
	color: #B0B0B0;
	text-align: left;
	border:0;
}
input{
	background: transparent;
}
td{
	border:1px solid #B0B0B0;
}